@import './variables.scss';
@import './mixin.scss';
.el-table {
  color: #566170;
}

.el-table, .el-table__expanded-cell {
  background-color: #f0f3f6;
}

.el-table thead {
  color: #fff;
  @include table-thead-bg-color($el-table-thead-background-theme);
 /*  background: #425365; */
  font-weight: 500;
}

.el-table th, .el-table tr {
  background-color: transparent;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
  color: #fff;
  @include el-table-hover($el-table-td-hover);
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #e6e8ed;
}

.el-table td, .el-table th.is-leaf {
  border-bottom: 0;
}

.el-table th>.cell {
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
}

.el-table .cell {
  text-align: center;
  line-height: 30px;
  font-size: 14px;

  .el-button {
    background: transparent;
    border: 0;
    color: #738291;
    i {
      font-size: 24px;
      color: #738291;
    }
  }
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #67768a;
  color: #fff;
}

.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
  margin: 0 5px;
  background-color: #e7eaed;
  color: #67768a;
  min-width: 30px;
  border-radius: 2px;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
  @include  el-backcolor($el-radio-btn);
  @include el-border-color($el-radio-btn);
  @include el-shadow($el-primary-theme);
}
.el-radio-button__inner:hover{
  @include el-color($el-radio-btn);
}
.el-button:focus, .el-button:hover{
   @include el-color($el-primary-theme);
}
.el-checkbox__inner:hover{
  @include el-border-color($el-radio-btn);
}
.el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close{
   @include el-color($el-radio-btn);
}