 //覆盖一些element-ui样式
 @import './el-table-override.scss';
 @import './el-form-ovdrride.scss';
 @import './el-datepicker-override.scss';

 .el-breadcrumb__inner,
 .el-breadcrumb__inner a {
   font-weight: 400!important;
 }

 .el-upload {
   input[type="file"] {
     display: none !important;
   }
 }

 .el-upload__input {
   display: none;
 }

 .cell {
   .el-tag {
     margin-right: 0px;
   }
 }

 .small-padding {
   .cell {
     padding-left: 5px;
     padding-right: 5px;
   }
 }

 .fixed-width {
   .el-button--mini {
     padding: 7px 10px;
     width: 60px;
   }
 }

 .status-col {
   .cell {
     padding: 0 10px;
     text-align: center;
     .el-tag {
       margin-right: 0px;
     }
   }
 } //暂时性解决dialog 问题 https://github.com/ElemeFE/element/issues/2461
 .el-dialog {
   transform: none;
   left: 0;
   position: relative;
   margin: 0 auto;
 } //文章页textarea修改样式
 .article-textarea {
   textarea {
     padding-right: 40px;
     resize: none;
     border: none;
     border-radius: 0px;
     border-bottom: 1px solid #bfcbd9;
   }
 } //element ui upload
 .upload-container {
   .el-upload {
     width: 100%;
     .el-upload-dragger {
       width: 100%;
       height: 200px;
     }
   }
 } //dropdown
 .el-dropdown-menu {
   a {
     display: block
   }
 }

 .enc-header {
   .el-menu--horizontal>.el-submenu .el-submenu__title {
     height: $enc-nav-header-height;
     line-height: $enc-nav-header-height;
   }

   .el-menu--popup {
     background-color: #e6eaed;
   }

   .el-menu--horizontal .el-menu .el-menu-item,
   .el-menu--horizontal .el-menu .el-submenu__title {
     background-color: #e6eaed; // height: 36px;
     // line-height: 36px;
     color: #b2b6b9;
   }

   .el-dropdown-menu__item--divided:before,
   .el-menu,
   .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus,
   .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover,
   .el-menu--horizontal>.el-submenu .el-submenu__title:hover {
     background-color: #469bde;
     color: #fff!important;
   }
 }

 .el-menu--horizontal .el-menu-item:not(.is-disabled):focus,
 .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
   background: #469bde;
   color: #fff!important;
 }

 .el-menu--horizontal>.el-menu-item.is-active {
   @include el-menu-item-active($el-menu-item-active-text-theme, $el-primary-theme);
 }

 .enc-header .nav-menu .enc-nav-menu .is-active i {
   @include el-color($el-primary-theme);
 }

 .enc-header .el-dropdown-menu__item--divided:before,
 .enc-header .el-menu,
 .enc-header .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus,
 .enc-header .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover,
 .enc-header .el-menu--horizontal>.el-submenu .el-submenu__title:hover {
   @include el-bgcolor($el-primary-theme);
 }

 .el-menu--horizontal .el-menu-item:not(.is-disabled):focus,
 .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
   @include el-backcolor($el-primary-theme);
 }

 .el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
   @include el-menu-item-active($el-radio-btn, $el-radio-btn);
 }

 @media screen and ( max-width: 1280px) {
   .enc-header {
     height: 50px!important;
     line-height: 50px!important;
     .el-menu--horizontal>.el-submenu .el-submenu__title {
       height: 50px;
       line-height: 50px;
       padding: 0 10px;
     }
   }
 }

 .el-breadcrumb__inner a:hover,
 .el-breadcrumb__inner.is-link:hover {
   @include el-color($el-radio-btn);
 }

 .dashboard-container .filter-container .count-container .count-title .all-number {
   @include el-color($el-all-number);
 }

 #NewAisdeTree .el-tree .el-tree-node__content:focus,
 #NewAisdeTree .el-tree .el-tree-node__content:hover {
   @include el-color($el-radio-btn);
 }

 #NewAisdeTree .el-tree .el-checkbox__input.is-checked .el-checkbox__inner,
 #NewAisdeTree .el-tree .el-checkbox__input.is-indeterminate .el-checkbox__inner {
   @include el-bgcolor($el-radio-btn);
   @include el-border-color($el-radio-btn);
 }

 .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
   @include el-color($el-radio-btn);
 }

 .el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
   @include el-color($el-radio-btn);
 }

 .nav-menu .enc-nav-menu .el-submenu .el-submenu__title i {
   /* @include el-color($el-sub-title-i); */
 }

 .icon-span {
   @include el-color($el-kittle-icon-span);
 }

 .el-loading-spinner .path {
   @include el-loading-spinner($el-radio-btn);
 }

 .el-tabs__item.is-active {
   @include el-color($el-radio-btn);
 }

 .el-tabs__item:hover {
   @include el-color($el-radio-btn);
 }

 .el-tabs__active-bar {
   @include el-bgcolor($el-radio-btn);
 }

 .right-tools a {
   @include el-color($el-radio-btn);
 }

 .task-template .el-table__body tr.hover-row>td {
   @include el-table-hover($el-table-td-hover);
 }

 .collaspe-btn .el-button--primary.is-disabled,
 .collaspe-btn .el-button--primary.is-disabled:active,
 .collaspe-btn .el-button--primary.is-disabled:focus,
 .collaspe-btn .el-button--primary.is-disabled:hover {
   @include el-btn-disabled($el-dis-form);
   color: #fff;
 }

 .el-checkbox__input.is-checked .el-checkbox__inner,
 .el-checkbox__input.is-indeterminate .el-checkbox__inner {
   @include el-border-color($el-primary-theme);
   @include el-bgcolor($el-primary-theme);
 }

 .checkDiv .look {
   @include el-color($el-all-number);
 }

 .el-pagination.is-background .el-pager li:not(.disabled).active {
   @include el-bgcolor($el-page-theme);
 }

 .el-pagination.is-background .el-pager li:not(.disabled):hover {
   @include el-page-color($el-table-td-hover);
 }

 .el-checkbox__inner {
   @include el-border($el-table-thead-background-theme);
 }

 .comTable .el-table .cell .el-button--primary {

   @include el-button--primary($el-primary-theme);
 }

 .tree-tools a :hover {
   @include el-color($el-primary-theme);
 }

 .el-message-box__headerbtn:focus .el-message-box__close,
 .el-message-box__headerbtn:hover .el-message-box__close {
   @include el-color($el-radio-btn);
 }

 #NewAisdeTree .el-tree .is-current>.el-tree-node__content {
   @include el-color($el-all-number);
 }

 .dashboard-container .filter-container .right-tools a {
   @include el-color($el-rtools-a);
 }

 .el-form-item.is-success .el-input__inner,
 .el-form-item.is-success .el-input__inner:focus,
 .el-form-item.is-success .el-textarea__inner,
 .el-form-item.is-success .el-textarea__inner:focus {
   @include el-color($el-input-success);
 }

 .el-form-item.is-success .el-input__inner,
 .el-form-item.is-success .el-input__inner:focus,
 .el-form-item.is-success .el-textarea__inner,
 .el-form-item.is-success .el-textarea__inner:focus {
   @include el-color($el-input-success);
 }

 .el-form-item.is-success .el-input__inner,
 .el-form-item.is-success .el-input__inner:focus,
 .el-form-item.is-success .el-textarea__inner,
 .el-form-item.is-success .el-textarea__inner:focus {
   @include el-color($el-input-success);
 }
 .el-loading-spinner .el-loading-text {
  @include el-color($el-radio-btn);
 }
 /*滚动条样式*/

/*  .main::-webkit-scrollbar {
  滚动条整体样式
  width: 6px;
  高宽分别对应横竖滚动条的尺寸
  height: 6px;
}

.main::-webkit-scrollbar-thumb {
  滚动条里面小方块
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #448f6b;
}

.main::-webkit-scrollbar-track {
  滚动条里面轨道
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
.el-table__body-wrapper::-webkit-scrollbar {
  滚动条整体样式
  width: 6px;
  高宽分别对应横竖滚动条的尺寸
  height: 6px;
}

.el-table__body-wrapper::-webkit-scrollbar-thumb {
  滚动条里面小方块
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #448f6b;
}

.el-table__body-wrapper::-webkit-scrollbar-track {
  滚动条里面轨道
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
 .el-tree::-webkit-scrollbar {
  滚动条整体样式
  width: 6px;
  高宽分别对应横竖滚动条的尺寸
  height: 6px;
}

.el-tree::-webkit-scrollbar-thumb {
  滚动条里面小方块
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #448f6b;
}

.el-tree::-webkit-scrollbar-track {
  滚动条里面轨道
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
} */