$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;


$enc-nav-header-height: 66px;
$enc-nav-sub-header-height: 44px;
$enc-nav-header-mini-height: 50px;