$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;


$enc-nav-header-height: 66px;
$enc-nav-sub-header-height: 44px;
$enc-nav-header-mini-height: 50px;

/* 换肤功能 */
/* 默认主题颜色 */
$enc-aside-background-theme: #494f5b;
$tree-tools-background-theme: #5f6676;
$el-table-thead-background-theme:#425365;
$el-primary-theme:#489bd9;
$el-menu-item-active-text-theme:#499bd7;
$el-radio-btn:#409EFF;
$el-all-number:#425365;
$el-sub-title-i:#4f4f4f;
$el-kittle-icon-span:#0095e7;
$el-page-theme:#67768a;
$el-dis-form :#a0cfff;
/* 弹框/表单 */
$el-input-suffix:#4f609d;
$el-select-dropdown-selected:#409EFF;
$el-table-td-hover:#95a1b3;
/* 任务中心 */
$el-btn-color:#2f6ac5;
/* 主题1 */
$enc-aside-background-theme1: #494f5b;
$tree-tools-background-theme1: #5f6676;
$el-table-thead-background-theme1:#7966c0;
$el-primary-theme1:#7966c0;
$el-menu-item-active-text-theme1:#499bd7;

/* 弹框 */
$el-color-lp-theme1:#453a6d;
/* 弹框/表单 */
$el-table-hover-theme1:#b4aada;
/* $enc-aside-background-theme1: #494f5b;
$tree-tools-background-theme1: #5f6676;
$el-table-thead-background-theme1:#425365;
$el-primary-theme1:#489bd9;
$el-menu-item-active-text-theme1:#499bd7; */

/* 主题2 */
$el-primary-theme2:#448f6b;
$el-table-hover-theme2:#68a277;
/* 主题3 */
$el-primary-theme3:#1ca9de;
$el-table-hover-theme3:#83b4d5;
/* 主题4 */
$el-primary-theme4:#8e764b;
$el-table-hover-theme4:#bba490;