$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;


$enc-nav-header-height: 66px;
$enc-nav-sub-header-height: 44px;
$enc-nav-header-mini-height: 50px;

/* 换肤功能 */
/* 默认主题颜色 */
$el-btn-black:#000;
$el-input-success:#67c23a;
$enc-aside-background-theme: #494f5b;
$tree-tools-background-theme: #4E5462;
$el-table-thead-background-theme:#4A60A2;
$el-primary-theme:#4A60A2;
$el-menu-item-active-text-theme:#009DDF;
$el-radio-btn:#409EFF;
$el-all-number:#425365;
$el-sub-title-i:#4f4f4f;
$el-kittle-icon-span:#009DDF;
$el-page-theme:#4A60A2;
$el-dis-form :#a0cfff;
$el-rtools-a :#479ad8;
$el-button-default:#4A60A2;
/* 弹框/表单 */
$el-input-suffix:#4f609d;
$el-select-dropdown-selected:rgb(123, 125, 128);
$el-table-td-hover:#4a60a23d;
/* 任务中心 */
$el-btn-color:#2f6ac5;

/* 主题1 */
$enc-aside-background-theme1: #494f5b;
$tree-tools-background-theme1: #4E5462;
$el-table-thead-background-theme1:#7966c0;
$el-menu-item-active-text-theme1:#499bd7;

/* 弹框 */
$el-color-lp-theme1:#453a6d;
/* 弹框/表单 */

/* $enc-aside-background-theme1: #494f5b;
$tree-tools-background-theme1: #4E5462;
$el-table-thead-background-theme1:#425365;
$el-primary-theme1:#489bd9;
$el-menu-item-active-text-theme1:#499bd7; */

$el-primary-theme1:#54448F;
$el-table-hover-theme1:#7568A2;
$el-kittle-icon-span1:#54448F;
/* 主题2 */
$el-primary-theme2:#1CA9DE;
$el-table-hover-theme2:#83B4D5;
$el-kittle-icon-span2:#1CA9DE;
/* 主题3 */
$el-primary-theme3:#448F6B;
$el-table-hover-theme3:#68A277;
$el-kittle-icon-span3:#448F6B;
/* 主题4 */
$el-primary-theme4:#8e764b;
$el-table-hover-theme4:#BFA084;
$el-kittle-icon-span4:#8e764b;