$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;


$enc-nav-header-height: 66px;
$enc-nav-sub-header-height: 44px;
$enc-nav-header-mini-height: 50px;

/* 换肤功能 */
/* 默认主题颜色 */
$enc-aside-background-theme: #494f5b;
$tree-tools-background-theme: #5f6676;
$el-table-thead-background-theme:#425365;
$el-primary-theme:#489bd9;
$el-menu-item-active-text-theme:#499bd7;
$el-radio-btn:#409EFF;
$el-all-number:#425365;
$el-count-t-theme:#f90;
$el-count-v-theme:#069;
$el-count-x-theme:#999;
$el-count-q-theme:#900;
$el-count-j-theme:#47aa65;
$el-count-y-theme:#ffd866;
$el-count-c-theme:#66efff;
$el-sub-title-i:#4f4f4f;
$el-kittle-icon-span:#0095e7;
/* 弹框/表单 */
$el-input-suffix:#4f609d;
$el-select-dropdown-selected:#409EFF;
$el-table-td-hover:#95a1b3;
/* 任务中心 */
$el-btn-color:#2f6ac5;
/* 主题1 */
$enc-aside-background-theme1: #494f5b;
$tree-tools-background-theme1: #5f6676;
$el-table-thead-background-theme1:#7966c0;
$el-primary-theme1:#7966c0;
$el-menu-item-active-text-theme1:#499bd7;
$el-count-t-theme1:#000e6a;
$el-count-v-theme1:#5567be;
$el-count-x-theme1:#7385d8;
$el-count-q-theme1:#91a4f2;
/* 弹框 */
$el-color-lp-theme1:#453a6d;
/* 弹框/表单 */
$el-table-hover-theme1:#b4aada;
/* $enc-aside-background-theme1: #494f5b;
$tree-tools-background-theme1: #5f6676;
$el-table-thead-background-theme1:#425365;
$el-primary-theme1:#489bd9;
$el-menu-item-active-text-theme1:#499bd7; */