$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;


$enc-nav-header-height: 66px;
$enc-nav-sub-header-height: 44px;
$enc-nav-header-mini-height: 50px;

/* 换肤功能 */
/* 默认主题颜色 */
$enc-aside-background-theme: #494f5b;
$tree-tools-background-theme: #5f6676;
$el-table-thead-background-theme:#425365;
$el-primary-theme:#489bd9;
$el-menu-item-active-text-theme:#499bd7;
/* 主题1 */
/* $enc-aside-background-theme1: #494f5b;
$tree-tools-background-theme1: #5f6676;
$el-table-thead-background-theme1:#7966c0;
$el-primary-theme1:#7966c0;
$el-menu-item-active-text-theme1:#499bd7; */
$enc-aside-background-theme1: #494f5b;
$tree-tools-background-theme1: #5f6676;
$el-table-thead-background-theme1:#425365;
$el-primary-theme1:#489bd9;
$el-menu-item-active-text-theme1:#499bd7;