@import 'variable.scss';

body,
html {
 
}
.clearfix{
    clear:both;
    overflow: hidden;
}
 .router-link-active{
    color:#fff
 }
 .fl{float: left;}
 .fr{
    float: right;
 }
 li{
    list-style: none;
 }