//elementui form
.el-dialog .el-form-item__label {
  font-size: $font-size-small;
}

.hr {
  width: 100%;
  border-top: 1px solid $color-background;
}

//con
.el-icon-info {
  margin-right: 10px;
  color: #0095e7;
  cursor: pointer;
}

.bornone {
  border: none !important;
}

.bank {
  opacity: 0;
}

.taskMDialog {
  text-align: left;
  .el-dialog {
    height: 600px;
    overflow: auto;
    .el-dialog__header {
      margin: 0 20px;
      padding: 20px 10px 0px;

      .el-dialog__title {
        font-size: $font-size-medium;
        @include el-color($color-text-title);
      }
    }
    .el-dialog__headerbtn {
      /* top: -15px;
      right: -15px;
      font-size: 16px;
      background-color: $color-background;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      font-size: 14px; */
      .el-dialog__close {
        /*  color: #fff; */
      }
    }
  }
  .title-gra {
    margin-bottom: 20px;
    .grab {
      height: 4px;
      display: inline-block;
    }
    .gra-l {
      width: 30%;
      @include el-color-lp($color-background-lp);
    }
    .gra-r {
      width: 70%;
      @include el-color-rp($color-background-rp);
    }
  }
  .el-dialog__body {
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    .daiInfo-title {
      border-bottom: 1px solid $border-color-dai;
      margin-bottom: 20px;
    }
    h2 {
      font-size: $font-size-medium;
      @include el-color-ys($color-text-stitle);
      padding: 0;
      margin: 0;
      line-height: 40px;
    }
    .daiInfo-box {
      padding: 0 20px;
    }
  }
}

.el-radio__label {
  font-size: $font-size-small;
}

.el-table .cell .taskMDialog .el-button {
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
}

.el-table .cell .taskMDialog .el-button--primary {
  color: #fff;
  @include el-bgcolor($el-primary-theme);
  @include el-border-color($el-primary-theme);
  /*  background-color: #489bd9;
 border-color: #489bd9; */
}

.ml0 .el-form-item--medium .el-form-item__content {
  margin-left: 0px !important;
}

.tcenter .el-form-item--medium .el-form-item__content {
  text-align: center;
}

.mt20 {
  margin-top: 20px;
}

.mt10 {
  margin-top: 10px;
}

.mt30 {
  margin-top: 30px;
}

.mt25 {
  margin-top: 25px;
}

.mb20 {
  margin-bottom: 20px;
}

.plr10 {
  padding-left: 10px;
}

.plr60 {
  padding-left: 60px;
}

.mr10 {
  margin-right: 10px;
}

.mr5 {
  margin-right: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml25 {
  margin-left: 25px;
}

.ptb20 {
  padding: 20px 0px;
}

.tcenter {
  text-align: center;
}

.el-icon-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #d8dbdd;
  line-height: 30px;
  color: #d8dbdd;
  text-align: center;
  margin-right: 5px;
}

.surveybg {
  background: #f0f3f6;
  padding-top: 20px;
}

//表格
.comTable .el-table th>.cell {
  line-height: 20px;
  font-size: $font-size-medium;
  font-weight: bold;
}

.comTable .el-table--medium td,
.el-table--medium th {
  padding: 8px 0;
}

//内部按钮
.el-table .cell .taskMDialog .diabtn {
  background: transparent;
  border: none;
}

.el-table .cell .taskMDialog .incbtn {
  color: $color-btn-inner;
}

.dataInfo-box {
  border: none !important;
}

.bornone {
  border: none !important;
}



/* treeStyle */

.tleft {
  text-align: left;
}

.treeAuto {
  height: 300px;
  overflow: auto;
}

.disele .el-input.is-disabled .el-input__inner {
  background-color: #f0f3f6;
  color: #4f609d;
  border-radius: 0;
  border: 1px solid #c9cdd0;
}

.curspan {
  cursor: pointer;
  margin-left: 10px;
}



/* .el-dialog::-webkit-scrollbar-thumb {
  background: #50609c;
  border-radius: 4px;
}

.el-dialog::-webkit-scrollbar-track {
  background: #489bd9;
  border-radius: 5px;
}

.el-dialog::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

.el-dialog::-webkit-scrollbar-button {
  background-color: #f6f6f6;
}

.el-dialog::-webkit-scrollbar-corner {
  background: transparent;
}
 */

.tasktips {
  font-size: $font-size-small;
  color: red;
}

.respan {
  color: red;
  display: inline-block;
}

.el-picker-panel__icon-btn {
  color: #303133 !important;
}

.setTaskDia .el-tabs__item.is-active {
  @include el-color($color-background-tabs);
}

.el-tabs__item.is-active i {
  @include el-backcolor($color-background-tabs);
}



/* 任务中心 */

.taskMDialog .checkBtn {
  @include el-bgcolor($el-btn-color);
}

.taskMDialog .contanst {
  @include el-border-contanst($el-btn-color);
}

.taskMDialog {
  .contanst_vs {
    @include el-color($color-background);
  }
  .checkResult a {
    @include el-color($color-background);
  }
  .export-btn.el-button {
    @include el-bgcolor($color-background);
  }
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  @include el-border-color($el-radio-btn);
}

 .top-inver-title {
  margin-bottom: 20px;
  .grab {
    height: 4px;
    display: inline-block;
  }
  .gra-l {
    width: 30%;
    @include el-color-lp($color-background-lp);
  }
  .gra-r {
    width: 70%;
    @include el-color-rp($color-background-rp);
  }
}

.topInver .el-dialog__title {
  font-size: $font-size-medium;
  @include el-color($color-text-title);
} 
